---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ParticleTextHero from '../components/ParticleTextHero.astro';
import Projects from '../components/Projects.astro';
import Features from '../components/Features.astro';
import CTASection from '../components/CTASection.astro';
---

<BaseLayout title="Home">
  <Header />
  
  <main id="main-content">
    <!-- Hero Section -->
    
    <ParticleTextHero />
    
    <!-- Projects Section -->
    <Projects />
    
    <!-- Features Section -->
    <Features />
    
    <!-- CTA Section -->
    <CTASection />
  </main>
  
  <Footer />
</BaseLayout>
